* {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 400; 
}
body {
    background-color: #121212;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.4;
}
a, li, p {
    color: white;
    font-size: 18px;
}
a:hover {
    color: rgb(100, 112, 243);
    background-color: white;
}
footer, h2, h1 {
    color: rgb(145, 227, 255);
    
}
img {
    width: 180px;
    height: 180px;
    float: right;
}
footer {
    text-align: center;
}