body {
    font: 16px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}
main, footer {
    max-width: 700px;
    margin: 0 auto;
}
img {
    width: 180px;
    height: 180px;
    float: right;
}
footer {
    text-align: center;
}